<!-- launch/lidar_odom.launch -->
<launch>
    <param name="use_sim_time" value="true" />

    <rosparam file="$(find lidar_odom)/config/lidar_odom_params.yaml" command="load"/>
    
    <node pkg="lidar_odom" type="lidar_system_node" name="lidar_system_node" output="screen" />

    <node pkg="lidar_odom" type="lidar_odometry" name="lidar_odometry_node" output="screen" />

    <!-- <node pkg="lidar_odom" type="test_odometry" name="test_odometry_node" output="screen" /> -->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_odom)/rviz/rviz.rviz" />

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="-s 75 $(find lidar_odom)/data/ulhk_looselylio.bag --clock" />
    <!-- test3  -s 0 -rate 0.5 -->

</launch>
