<!-- launch/lidar_odom.launch -->
<launch>
    <node pkg="lidar_odom" type="lidar_system_node" name="lidar_system_node" output="screen" />

    <!-- <node pkg="lidar_odom" type="lidar_odometry" name="lidar_odometry_node" output="screen" /> -->

    <node pkg="lidar_odom" type="test_odometry" name="test_odometry_node" output="screen" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidar_odom)/rviz/rviz.rviz" />

    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args=" $(find lidar_odom)/data/vlp-16.bag" />

</launch>
